body {
  font-family: 'Kanit', sans-serif;
}
.container {
  width: 680px;
  height: 385px;
  padding-bottom: 15px;
  background-color: #8bc34a;
}
.container header {
  padding-top: 10px;
  width: 100%;
  height: 90px;
  background: #58585a;
  text-align: center;
}
.container header h1 {
  color: #8bc34a;
}
.container .container-boxes {
  width: 90%;
  padding: 2% 5% 2% 5%;
  display: flex;
  flex-direction: row;
}
.container .container-box {
  min-width: 33%;
  max-width: 33%;
  display: flex;
  flex-direction: row;
}
.container .container-box table {
  border: none;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
}
.container .container-box table tr th {
  min-width: 33.3%;
  color: #58585a;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
}
.container .container-box table tr td {
  min-width: 33.3%;
  color: white;
  font-size: 1.4em;
}
.container .container-box table tr .bill {
  width: 40px;
  height: 23px;
  background-image: url('../img/cash.png');
  background-repeat: no-repeat;
  background-size: 40px 23px;
  background-position: center;
}
.container .container-box .input-container {
  text-align: center;
  min-width: 100%;
  max-height: 10%;
  color: #58585a;
  font-size: 0.8em;
  margin-top: 9%;
  flex-flow: column;
  flex-wrap: wrap;
}
.container .container-box input {
  margin-top: 3px;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  padding: 10px 40px;
  background: white;
  max-width: 125px;
  max-height: 25px;
  border-radius: 25px;
  outline: 0;
  border: none;
  font-size: 2em;
  color: #8bc34a;
  flex-wrap: wrap;
  margin-left: 0px;
  -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}
.container button {
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  padding: 8px 20px;
  background: transparent;
  min-width: 45%;
  max-height: 50px;
  border-radius: 25px;
  outline: 0;
  border: 1px solid transparent;
  font-size: 1.5em;
  color: white;
  flex-wrap: wrap;
  margin-left: 20px;
  -webkit-box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}
.container button:hover {
  background: transparent;
  background-color: #58585a;
}
.container .clear {
  display: block;
}
